.rowspace{
  @media screen and(min-width: 1024px){
    padding: 3em 0;
  }
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
.img-destaque{
  margin: 1em 0;
}
@mixin btn-leia($color, $color2){
  .btn-leia{
    padding: 10px 15px;
    border-radius: 3px;
    margin: 0 auto;
    max-width: 120px;
    display: block;
    text-align: center;
    background-color: $color;
    color: #FFF;
    letter-spacing: 2px;
    text-decoration: none;
    transition: all .3s ease;
    &:hover{
      text-decoration: none;
      background-color: $color2;
      color: #FFF;
    }
  }
}
.loader{
  height: 100vh;
  background-color: #FFF;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  .square{
    display: block;
    margin: 50% auto;
    svg{
      max-width: 200px;
      display: block;
      margin: 0 auto;
      &.animate{
        path{
          animation: svg-animate 2s forwards infinite;
        }
      }
    }
  }
}
@keyframes svg-animate {
  33%{
    transform: rotate(5deg);
  }
  66%{
    transform: rotate(-5deg)
  }
}
