.content{
  position: relative;
  .row{
    @media screen and(min-width: 1024px){
      height: 90vh;
    }
    display: block;
  }
  .slide-image{
    @include make-md-column(8);
    @include make-xs-column(12);
    background-position: center center;
    background-size: cover;

    @media screen and(max-width: 768px){
      height: 55vh;
    }
    @media screen and(max-width: 480px){
      height: 40vh;
      padding: 0;
    }
    @media screen and(min-width: 1024px){
      height: 100vh;
    }
  }
  .slide-small{
    height: 40vh;
    background-position: center center;
    background-size: cover;
    @include make-sm-column(4);
    @media screen and(max-width: 768px){
      display: none;
    }
    padding: 0;
  }
  .slide-text{
    @include make-md-column(4);
    @include make-xs-column(12);
    @include btn-leia(#666, $green-light);
    min-height: 20vh;
    min-height: 40vh;
    @media screen and(min-width: 1440px){
      padding: 8em 4em;
    }
    @media screen and(min-width: 1024px){
      padding: 4em;
      height: 40vh;
    }
    @media screen and (max-width: 768px){
      text-align: center;
      padding: 1em 2em;
    }
    p{
      width: 100%;
      font-size: 120%;
      color: #FFF;
      line-height: 1.5;
      @media screen and (max-width: 768px){
        text-align: center;
      }
      @media screen and(max-width: 480px){
        font-size: 100%;
      }
      span{
        font-size: 145%;
        line-height: 80px;
        font-weight: bold;
        text-align: center;
        display: block;
        @media screen and(min-width: 1024px){
          line-height: 83px;
        }
      }
    }
    &.blue{
      background-color: $blue;
    }
    &.green-flat{
      background-color: $green-flat;
    }
    &.green-light{
      background-color: $green-light;
      span{
        width: 100%;
        font-size: 130%
      }
    }
    &.green{
      background-color: $green;
      span{
        width: 100%;
        font-size: 130%
      }
    }
  }
}
.arrow-right,
.arrow-left{
  height: 70px;
  width: 50px;
  display: block;
  position: absolute;
  top: 50%;
  @media screen and(max-width: 768px){
    top: 30%;
  }
  z-index: 3;
  cursor: pointer;
}
.arrow-left{
  left: 0;
  background-image: url('../images/left.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.arrow-right{
  right: 0;
  background-image: url('../images/right.png');
  background-size: contain;
  background-repeat: no-repeat;
}
