$icon-font-path: '../fonts/';
$font-family: 'Nunito', sans-serif;

$green: #007A7B;
$green-light: #00AFAA;
$green-flat: #57C0A3;
$blue: #6DC1E1;
$gray: #939598;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import "bower_components/css-hamburgers/_sass/hamburgers/hamburgers.scss";
// endbower

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Nunito:300,400,600,700);

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

html,body{
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.2;
}
header{
  padding: 10px 20px;
  .logo{
    padding-top: 10px;
  }
  nav{
    ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (min-width: 1024px){
        margin-top: 40px;
      }
      li{
        flex: 1 1 auto;
        border-right: 1px solid $gray;
        &:last-child{
          border: 0;
        }
        a{
          text-align: center;
          display: block;
          text-transform: uppercase;
          color: $gray;
          text-decoration: none;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }
}
.content{
  .slide-text{
    padding: 40px 30px;
    p{
      width: 100%;
      font-size: 120%;
      max-width: 270px;
      vertical-align: middle;
      line-height: 1.5;  
      span{
        font-size: 145%;
        font-weight: bold;
      }
    }
    &.blue{
      background-color: $blue;
      color: #FFF;
    }
  }
  .footer-slider{
    img{
      width: 100%;
      max-width: 450px;
      margin: 0 auto;
    }
  }
}
.menu-footer{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  li{
    flex: 1 1 25%;
    text-align: center;
    color: $gray;
    padding: 20px 0;
    transition: all .3s linear;
    &:nth-child(1){
      border-top: 15px solid $blue;
      &:hover{
        background-color: $blue;
        color: #fff;
      }
    }
    &:nth-child(2){
      border-top: 15px solid $green-flat;
      &:hover{
        background-color: $green-flat;
        color: #fff;
      }
    }
    &:nth-child(3){
      border-top: 15px solid $green-light;
      &:hover{
        background-color: $green-light;
        color: #fff;
      }
    }
    &:nth-child(4){
      border-top: 15px solid $green;
      &:hover{
        background-color: $green;
        color: #fff;
      }
    }
    &:hover{
      background-color: currentColor;
    }
    h4{
      text-transform: uppercase;
      font-weight: bold;
    }
    span{
      text-transform: lowercase;
    }
  } 
}