$icon-font-path: '../fonts/';
$font-family: 'Nunito', sans-serif;

$green: #007A7B;
$green-light: #00AFAA;
$green-flat: #57C0A3;
$blue: #6DC1E1;
$gray: #939598;

$hamburger-layer-color: $green-light;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import "bower_components/css-hamburgers/_sass/hamburgers/hamburgers.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
// endbower

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Nunito:300,400,600,700);

.rowspace{
  @media screen and(min-width: 1024px){
    padding: 3em 0;
  }
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

html,body{
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.2;
}
header{
  .contact{
    color: $gray;
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      li{
        padding: 10px 0px 0px 10px;
        display: inline-block;
        a{
          color: $gray;
          transition: all .3s ease;
          &:hover{
            color: $green-flat;
          }
        }
      }
    }
    span{
      float: right;
      display: block;
    }
  }
  @media screen and (min-width: 1024px){
    padding: 10px 20px;
  }
  .menu-mobile{
    padding-top: 15px;
  }
  .logo{
    padding-top: 10px;
  }
  nav{
    ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: none;
      transition: all .4s linear;
    &.open{
      display: block;
    }
    @media screen and(max-width: 768px){
      background-color: $green-light;
    }
      @media (min-width: 1024px){
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      li{

        @media screen and(min-width: 1024px){
          flex: 1 1 auto;
          border-right: 1px solid $gray;
        }
        &:last-child{
          border: 0;
        }
        &.actv{
          a{
            @media screen and (min-width: 1024px){
              color: $green-light;
            }
          }
        }
        a{
          text-align: center;
          display: block;
          text-transform: uppercase;
          color: $gray;
          @media screen and (max-width: 768px){
            color: #FFF;
            padding: 20px 0;
            border: 1px solid white;
          }
          text-decoration: none;
          &:hover{
            text-decoration: none;
            color: currentColor;
            @media screen and(min-width: 1024px){
              color: $green-light;
            }
          }
        }
      }
    }
  }
}
.content{
  .row{
    height: auto;
    display: block;
  }
  .slide-image{
    @include make-md-column(8);
    @include make-sm-column(8);
    img{
      width: 100%;
    }
    @media screen and(max-width: 480px){
      padding: 0;
    }
  }
  .slide-small{
    @include make-sm-column(4);
    @media screen and(max-width: 480px){
      display: none;
    }
    padding: 0;
  }
  .slide-text{
    @include make-sm-column(4);
    @include make-xs-column(12);

    @media screen and(min-width: 1024px){
      padding: 40px 30px;
    }
    @media screen and(min-width: 1440px){
      padding: 5em;
    }
    p{
      width: 100%;
      font-size: 120%;
      color: #FFF;
      vertical-align: middle;
      line-height: 1.5;
      @media screen and(max-width: 480px){
        font-size: 100%;
        height: 320px;
      }
      span{
        font-size: 145%;
        font-weight: bold;
      }
    }
    &.blue{
      background-color: $blue;

      p{
        max-width: 270px;
      }
    }
    &.green-flat{
      background-color: $green-flat;
      p{
        max-width: 470px;
      }
    }
    &.green-light{
      background-color: $green-light;
      p{
        max-width: 500px;
      }
      span{
        width: 100%;
        font-size: 130%
      }
    }
    &.green{
      background-color: $green;
      p{
        max-width: 500px;
      }
      span{
        width: 100%;
        font-size: 130%
      }
      .footer-slider{

        ul{
          padding: 0;
          margin: 0;
        }
      }
    }
  }
  .footer-slider{
    @include make-md-column(4);
    @media screen and(max-width: 480px){
      display: none;
    }
    img{
      width: 100%;
      max-width: 450px;
      margin: 0 auto;
    }
    ul{
      margin: 0;
      padding: 40px 40px 0 ;
      li{
        padding: 0px 20px;
        font-size: 18px;
        font-weight: bold;
        color: $gray;
      }
    }
  }
}
.menu-footer{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block;
  @media screen and(min-width: 1024px){
    display: flex;
  }
  li{

    @media screen and(min-width: 1024px){
      flex: 1 1 25%;
    }

    text-align: center;
    color: $gray;
    padding: 20px 0;
    transition: all .3s linear;
    &:nth-child(1){
      border-top: 15px solid $blue;
      &:hover{
        background-color: $blue;
        color: #fff;
      }
    }
    &:nth-child(2){
      border-top: 15px solid $green-flat;
      &:hover{
        background-color: $green-flat;
        color: #fff;
      }
    }
    &:nth-child(3){
      border-top: 15px solid $green-light;
      &:hover{
        background-color: $green-light;
        color: #fff;
      }
    }
    &:nth-child(4){
      border-top: 15px solid $green;
      &:hover{
        background-color: $green;
        color: #fff;
      }
    }
    &:hover{
      background-color: currentColor;
    }
    h4{
      text-transform: uppercase;
      font-weight: bold;
    }
    span{
      text-transform: lowercase;
    }
  }
}
section.contato{
  h2{
    font-size: 4em;
    padding: 10px 0px;
    color: $green-light;
    &::after,&::before{
      content: '';
      display: block;
      margin: 0 auto;
    }
    &::after{
      height: 3px;
      width: 150px;
      background-color: currentColor;
    }
  }
  .btn-success{
    color: #FFF !important;
  }
  form{
    padding: 10px 0;
    input, textarea{
      color: $green !important;
      height: 40px;
      border: 1px solid $green-flat;
      padding: 5px 15px;
      width: 100%;
      &::-webkit-input-placeholder {
        color: currentColor;
        font-style: italic;
      }
      &::-moz-placeholder {
        font-style: italic;
      }
     }
    textarea{
      height: auto;
      padding: 15px;
    }
    input[type="submit"]{
      width: auto;
    }
  }
  .mapa{
    position: relative;
    .imagem-mapa{
      height: 450px;
      background-image: url('../images/mapa.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .contact-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    li{
      line-height: 1.8;
      display: block;
      text-align: right;
      color: $gray;
      span{
        color: $green;
      }
      a{
        color: currentColor;
      }
    }
  }
}
.tratamentos{
  padding: 2em;
  .service{
    padding: 1em;
    h3{
     text-align: center;
     color: $green;
     &::after, &::before{
      display: block;
      content: '';
      margin: 5px auto;
     }
     &::after{
      height: 2px;
      width: 75px;
      background-color: currentColor;
     }
    }
    p{
      border: 1px solid red;
      padding: 2em;
      text-align: center;
      line-height: 1.5;
      color: #666;
    }
    .service-image{
      display: block;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% 100%;
      height: 300px;
      transition: all .4s ease-in-out;
      &:hover{
        background-size: 110% 110%;
      }
    }
  }
}
.btn-leia{
  padding: 10px 15px;
  border-radius: 3px;
  margin: 0 auto;
  max-width: 120px;
  display: block;
  text-align: center;
  background-color: $green-flat;
  color: #FFF;
  letter-spacing: 2px;
  text-decoration: none;
  transition: all .3s ease;
  &:hover{
    text-decoration: none;
    background-color: $green;
    color: #FFF;
  }
}
