$icon-font-path: '../fonts/';
$font-family: 'Nunito', sans-serif;
$font-text: 'Lora', serif;

$green: #007A7B;
$green-light: #00AFAA;
$green-flat: #57C0A3;
$blue: #6DC1E1;
$gray: #939598;

$hamburger-layer-color: $green-light;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import "bower_components/css-hamburgers/_sass/hamburgers/hamburgers.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
// endbower

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Nunito:300,400,600,700|Lora);
@import "bower_components/slick-carousel/slick/slick-theme.scss";

html,body{
  font-family: $font-family;
  font-size: 16px;
  line-height: 1;
}
body{
    overflow-x: hidden;
}
//base
@import "typo";
@import "helpers";

//sections
@import "header";
@import "slider";
@import "fernanda";
@import "aclinica";
@import "tratamentos";
@import "contato";
@import "footer";
